/*MEN, WOMEN and KIDS SECTION*/
#shoesContent{
    background-color: #EFEFEF;
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 70vh;
}
#filterOptions{
    background-color: #c4c4c4;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#shoesContainer{
    flex: 5;
    display: flex;
    justify-content: center;
}
#containerContent{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 90%;
}

.filterGroup{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filterControl{
    width: 80%;
    margin-top: 20px;
}
#priceGroup{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
}
#range{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#priceFrom, #priceTo{
    width: 40%;
}
.row{
    margin: 30px 0 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.shoeCard{
    margin-right: 40px;
    margin-bottom: 30px;
    width: 300px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 40px -20px rgba(0,0,0,.4);
}
.mainInfo{
    padding: 10px;
    display: flex;
    align-items: center;
}
.logo {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-right: 10px;
}
.shoeName{
    font-weight: bold;
}
.shoe {
    width: 300px;
}
.imageDiv{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.size{
    display: flex;
    align-items: center;
    height: 40px;
    margin-left:10px;
}
.label{
    font-weight: bold;
    color: #5f6668;
    font-size: 1.25rem;
    margin: 0;
    width: 60px;
}
.sizes{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
.sizeNumber{
    margin-right: 24px;
}
.tags{
    display:flex;
    justify-content:space-around;
    align-items:center;
    text-align:center;
    padding: 10px;
}
.cartButton{
    padding: 16px 24px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Lato;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background: #051923;
    color: white;
    border: none;
    flex:2;
}
.price{
    flex:1;
    margin: 0;
    margin-right:10px;
}
#filterButton{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

#shoeModal{
    width: 100%;
    display: none;
}
#modalContainer{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: none;
}
#uniqueContent{
    width: 60%;
    background: none;
    border: none;
}
#errorAlert{
    display: none;
}

/*MEDIA QUERYS*/

@media (max-width: 600px){
    .row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .shoeCard{
        margin-right: 0;
    }
    #filterOptions{
        flex:2;
    }
    #range{
        flex-direction: column;
    }
    #priceFrom, #priceTo{
        width: 100%;
    }
    #priceFrom{
        margin-bottom: 20px;
    }
}